.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.grid-item {
	display: inline-block;
}

.grid-item__img {
	background-color:#efefef;
	border-radius: 11%;
	min-width: 200px;
	min-height:140px;
}

.grid-item__caption-box {
	margin-top: 5px;
	margin-bottom: 10px;
}

.grid-item__caption {
	font-size: 1.3rem;
}

.grid-item img {
	width: 100%;
	height: 100%;
}
